*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
   border: solid 3px;
background-color: transparent;
    
text-indent: 5%;
    /*-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;*/
    font-size: larger;
    box-shadow: 5px 10px 10px 5px #888888;
    
}
title{
    color:green;
}
body{
   height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    text-align: center;
    background: linear-gradient(rgb(56,150,163), rgb(48,62,143));
    font-family: Impact,;
    color:white;
   
}
.location{
   text-align: center; 
}
.temp{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

.temp{
    flex-direction: column;
}

.degrees-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degrees-section span{
    margin: 10px;
    font-size: 30px;
}
.degrees-section h2{
    font-size:40px;
}
